<html>
  <head>
  </head>
    <body>
      <h1>Home Inventory Landing Page</h1>
      <p>
      Cupcake ipsum dolor sit amet pie danish lollipop I love. Brownie oat cake pastry jelly-o. Chocolate cake macaroon jelly-o. Tart macaroon apple pie.
      Cake chocolate bar bonbon. Powder chocolate bar chocolate soufflé oat cake bonbon biscuit. Dessert cheesecake chocolate cake.
      I love jujubes apple pie I love muffin toffee. Liquorice cheesecake ice cream jelly ice cream caramels toffee cake. Jujubes marshmallow apple pie.
      Chocolate bar pie marshmallow. Sugar plum jelly beans soufflé pudding gummies cake bonbon liquorice macaroon. Cake macaroon chocolate cake marzipan. Caramels bear claw marshmallow gummi bears.
      Biscuit icing ice cream. Bonbon pastry carrot cake. Cake pastry I love dragée sesame snaps. Muffin bear claw carrot cake icing jelly beans brownie chupa chups.
      </p>
    </body>
</html>
